<div class="container w-50 mt-5 text-center">
  <div class="text-center m-3 text-white display-3">
    Word limit: {{ limit }}
  </div>

  <input 
    type="range" 
    min="1" 
    max="50" 
    value="{{limit}}" 
    class="container slider form-control-range"
    (change)="handleSlideChange($any($event.target).value)"
  />

  <div class="row">
    <button class="btn btn-info col-4" (click)="generate()">Generate Words</button>
    <div class="col-4"></div>
    <button class="btn btn-info col-4" (click)="getRandCountry()">Get a Country Name</button>
  </div>
  
  <div *ngIf="words" class="card card-body">
    <p class="display-4">
      {{words}}
    </p>
  </div>

</div>